

{%load static%}
<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="{% static '/loginmodule.css' %}">
</head>
<body>
	
	
         {% if error_msg %}<p><strong>{{error_msg}}</strong></p>{% endif %}         

	<div id="modal-wrapper" class="modal">
		 

            <form class="modal-content animate" id="form1" action="../auth/" method="POST">
            	{% csrf_token %}

            	 <div class="imgcontainer">
                        
                        
                        <h1 style="text-align:center">Change Password</h1>
              	</div>

                
                <div class="container">
                    <input type="password" name="old_password" placeholder="Old Password" required/>
                    <input type="password" name="new_password" placeholder=" New Password" required/>   
                    <input type="password" name="rnew_password"  placeholder=" Confirm Password" required/>      
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                    
                    
                        
                    </div>
                </div>

            </form>

        </div>
</body>
</html>

